<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Available Teams
      </div>
      <div class="panel-body">

        <% @teams.each do |team| %>
        <div class="row">
          <div class="col-md-4">
            <h4><%= link_to "Team #{team.id}", team_path(team.id) %></h4>
          </div>
          <div class="col-md-2">
            <%= team.date %>
          </div>
          <div class="col-md-2">
            <%= team.member1.name %>
          </div>
          <div class="col-md-2 right">
              <%= team.member2.name %>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <%= link_to "Create new team", new_team_path, class: "btn btn-primary" %>
  </div>
</div>
